/* Gathering of all the colors used during the challenge */
$background_basic : rgb(242, 242, 242);
$paragraph_color  : hsla(0, 0%, 100%, 0.75); 
$sedans_color     : hsl(31, 77%, 52%); 
$suvs_color       : hsl(184, 100%, 22%); 
$luxury_color     : hsl(179, 100%, 13%); 